* {
    font-family: sans-serif;
}

body {
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

span {
    color: #81269D;
    font-weight: 800;
}

p {
    font-size: 24px;
}

input {
    font-size: 30px;
    width: 100%;
    border: 0;
}

input:focus{
    outline: none;
    border: 0;
}

a {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

img {
    height: 100%;
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}