body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 26px;
}

.img_dragao {
    position: absolute;
    width: 200px;
    top: -20px;
    right: -30px;
    
}

.img_dragao img {
    
    width: 200px;
}

.historia {
  color: #000000;
  position: absolute;
  top: 160px;
  padding: 20px;
}

.historia span {
    color: #81269d;
}



.btn {
    text-align: center;
    position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
}

button {
    
    font-size: 18px;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-left: 25px;
}

button:last-of-type {
    margin-left: 10px;
}

button:hover {
    background-color: #c457e6;
}

.btn-roxo {
  background-color: #81269d;
  color: #ffffff;
}

.btn-branco {
  background-color: #ffffff;
  color: #81269d;
  border: solid 1px #81269d;
}
