* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #81269D;
    text-align: center;
}

.logo-nome-do-usuario{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
}

.logo-nu {
    width: 45px;
    margin: 5px;
}

.painel-principal img {
    margin: 0 auto;
    background: #FFFFFF;
    height: 80vh;
    width: 90vw;
    height: auto;
}

.circulos img {
    width: 30px;
    height: auto;
    padding: 20px 0;
}

nav {
    width: 95vw;
    max-height: 112px;
    right: 0;
    position: absolute;
    display: flex;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
}

nav div {
    background: #9140A9;
    border-radius: 5px;
    width: 112px;
    height: 112px;
    padding: 80px 0 0 10px;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-left: 10px;
}

nav div:first-of-type {
    margin-left: 0px;
}


nav div:last-of-type {
    width: 35px;
    overflow: hidden;
    margin-right: 0;
    right: 0;
}

nav div:hover {
    background: #a15cb6;
}

